@model ClassTypeViewModel

@{
    ViewData["Title"] = "Update Class Type";
}

<h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Update @Model.Name</h2>

<hr />
<div class="container">
    <div class="row view-form-style  justify-content-center align-items-center">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label">Image</label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary me-4">
                        <i class="fa-solid fa-check me-2"></i>Save
                    </button>
                    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left me-2"></i>Back</a>
                </div>

            </form>
        </div>

        <!-- Right: Image -->
        <div class="col-md-2 mb-4">
            <dl class="row">
                <dd class="col-sm-12">
                    <img src="@Model.ImageDisplay" alt="Gym machine image" style="width: auto; max-height: 20vw" />
                </dd>
            </dl>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
