@model FitnessHub.Models.EmployeeClientMembershipViewModel

@{
    ViewData["Title"] = "Sign Up";
}

<h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Membership Sign Up</h2>
<hr />

<div class="row view-form-style">
    <div class="col-md-4 offset-md-4">
        <form asp-action="SignUpClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MembershipId" class="control-label"></label>
                <select asp-for="MembershipId" asp-items="@Model.SelectMembership" class="form-control">
                    <option value="0">Select a Membership</option>
                </select>
                <span asp-validation-for="MembershipId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClientEmail" class="control-label">Client Email</label>
                <input asp-for="ClientEmail" type="email" class="form-control" />
                <span asp-validation-for="ClientEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button id="process" type="submit" class="btn btn-primary me-4 mt-2">
                    <i class="fa-solid fa-check me-2"></i>Sign Up Client
                </button>
                <a asp-action="ActiveClientMemberships" class="btn btn-secondary mt-2"><i class="fa-solid fa-chevron-left me-2"></i>Back</a>
            </div>
        </form>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('process').addEventListener('click', function (event) {
            // Prevenir o envio imediato do formulário
            event.preventDefault();

            var submitButton = event.target;

            // Desabilitar o botão e mudar o texto
            submitButton.disabled = true;
            submitButton.innerHTML = '<i class="fa-solid fa-spinner spin-icon me-2"></i>Processing';

            // Submeter o formulário após a modificação
            submitButton.closest('form').submit();
        });
    });
</script>
