@model DisplayMessageViewModel
@{
    ViewData["Title"] = $"{Model.Title}";
}

<div class="messageDisplay-container">
    <h1 class="messageDisplay-title">@Model.Title</h1>
    <p class="messageDisplay-message" style="margin-bottom: -0.5rem">@Model.Message</p>
</div>
