@model FitnessHub.Data.Entities.Communication.Ticket

@{
    ViewData["Title"] = "Create Ticket";
}

<h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Create Ticket</h2>
<hr />

<div class="row view-form-style">
    <div class="col-md-6 offset-md-3">
        <form asp-action="CreateTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Message" class="control-label">Message</label>
                <textarea asp-for="Message" class="form-control" rows="5" placeholder="Message"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button id="process" type="submit" class="btn btn-primary me-4">
                    <i class="fa-solid fa-check me-2"></i>Create
                </button>
                <a asp-action="Tickets" class="btn btn-secondary"><i class="fa-solid fa-chevron-left me-2"></i>Back</a>
            </div>

        </form>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('process').addEventListener('click', function (event) {
            // Prevenir o envio imediato do formulário
            event.preventDefault();

            var submitButton = event.target;

            // Desabilitar o botão e mudar o texto
            submitButton.disabled = true;
            submitButton.innerHTML = '<i class="fa-solid fa-spinner spin-icon me-2"></i>Processing';

            // Submeter o formulário após a modificação
            submitButton.closest('form').submit();
        });
    });
</script>