@model IEnumerable<FitnessHub.Data.Entities.Communication.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

@if (ViewBag.AllowNew != false)
{
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 0 1rem; margin-bottom: 4vh; margin-top: 3.5vh">
        <!-- Wrapper for the button and heading -->
        <div style="display: inline-flex; align-items: center;">
            <!-- Button next to the text with margin -->
            <a style="margin-left: -160px" asp-action="CreateTicket" class="btn btn-primary">
                <i class="fa-solid fa-pen me-2"></i>New Ticket
            </a>
            <!-- Heading centered -->
            <h2 class="view-text" style="font-weight: bolder; margin: 0; margin-left: 40px">
                Tickets
            </h2>
        </div>
    </div>
}
else
{
    <h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh;">Tickets</h2>
}

@if (Model == null || !Model.Any())
{
    <hr />
    <h4 class="no-items-list">You have no Tickets!</h4>
}
else
{
    <div class="card-container">
        <div class="card cardTable">
            <table id="forumTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Claimed
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.DateOpened.ToString("dd-MM-yyyy HH:mm")
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @if (item.Picked)
                                {
                                    @item.DatePicked
                                }
                                else
                                {
                                    <span>Awaiting</span>
                                }
                            </td>
                            <td>
                                @if (item.Open)
                                {
                                    <span style="color: green">Open</span>
                                }
                                else
                                {
                                    <span style="color: red">Closed</span>
                                }
                            </td>
                            <td>
                                <div style="display: flex">
                                    <a asp-action="OpenTicket" asp-route-id="@item.Id" class="btn btn-primary me-2"><i class="fa-solid fa-eye me-2"></i>Open</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#forumTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
                },
                "aLengthMenu": [
                    [20, 50, 100, 200, -1],
                    [20, 50, 100, 200, "All"]
                ],
                columnDefs: [
                    { orderable: false, targets: [-1] }
                ]
            });
        });
    </script>
}