@model FitnessHub.Models.MachineViewModel

@{
    ViewData["Title"] = "Add Machine";
}

<h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Add Machine</h2>
<hr />

<div class="row view-form-style">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories">
                    <option value="0">Select a Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TutorialVideoUrl" class="control-label">Youtube video URL</label>
                <input asp-for="TutorialVideoUrl" class="form-control" />
                <span asp-validation-for="TutorialVideoUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary me-4 mt-2">
                    <i class="fa-solid fa-check me-2"></i>Add
                </button>
                <a asp-action="Index" class="btn btn-secondary mt-2"><i class="fa-solid fa-chevron-left me-2"></i>Back</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
