@model FitnessHub.Models.GymViewModel

@{
    ViewData["Title"] = "Add Gym";
}

<h2 class="view-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Add Gym</h2>
<hr />

<div class="row view-form-style">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"> Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select asp-for="Country" id="country-dropdown" class="form-control" asp-items="ViewBag.Countries">
                    <option value="0" disable>Select a Country</option>
                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <ejs-combobox id="city-combobox" class="form-control" name="City" placeholder="Type or select a City" allowCustom="true"></ejs-combobox>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary me-4">
                    <i class="fa-solid fa-check me-2"></i>Save
                </button>
                <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left me-2"></i>Back</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var defaultOption = document.querySelector('#country-dropdown option[value="0"]');
            if (defaultOption) {
                defaultOption.disabled = true; 
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#country-dropdown').change(function () {
                var selectedCountry = $(this).val();

                if (selectedCountry) {
                    $.ajax({
                        url: '@Url.Action("GetCitiesByCountry", "Gyms")',
                        data: { country: selectedCountry },
                        success: function (response) {
                            if (response && response.length > 0) {
                                var cityCombobox = document.getElementById('city-combobox').ej2_instances[0];
                                cityCombobox.dataSource = response;
                            } else {
                                var cityCombobox = document.getElementById('city-combobox').ej2_instances[0];
                                cityCombobox.dataSource = [];  
                            }
                        }
                    });
                }
            });
        });
    </script>
}
