@model SendEmailViewModel

@{
    ViewData["Title"] = "Contact us";
}

<div class="container mb-4 view-text">
    <h2 style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">@ViewData["Title"]</h2>
    <hr />

    <div class="text-light page-content">
        We’re here to help! Whether you have questions about our memberships, classes, or just want to learn more about what we offer at FitnessHub, feel free to reach out to us.<br /><br />


        <div class="row view-form-style mt-4 mb-2">
            <div class="col-md-6 offset-md-3">
                <form asp-action="Contacts">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="your@email.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Your name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" maxlength="128" placeholder="Message subject" value="@Model.Subject"/>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Message" class="control-label"></label>
                        <textarea asp-for="Message" id="message" class="form-control" rows="6" style="height: 200px" maxlength="512" placeholder="Message body"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button id="process" type="submit" class="btn btn-primary me-4">
                            <i class="fa-solid fa-envelope me-2"></i>Send
                        </button>
                    </div>
                </form>

                @if(ViewBag.ShowMessage == true)
                {
                    <span class="@ViewBag.Color">@ViewBag.Message</span>
                }

            </div>
        </div>

        <hr />

        <h5>Customer Support</h5>
        Our customer support team is available to assist you 24/7, so whether you need help with your account, are experiencing issues with our services, or have questions about our global gym access, we’re just an email away.<br /><br />

        <h5>Stay Connected</h5>
        Be sure to follow us on social media for the latest news, fitness tips, and special offers.<br /><br />

        <h5>Visit Us</h5>
        Drop by any FitnessHub location for in-person support! Our friendly staff will be happy to assist you with any questions or services you need.<br /><br />

        <span style="font-weight: bolder">We look forward to hearing from you and helping you reach your fitness goals!</span>
    </div>

</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('process').addEventListener('click', function (event) {
            // Prevenir o envio imediato do formulário
            event.preventDefault();

            var submitButton = event.target;

            // Desabilitar o botão e mudar o texto
            submitButton.disabled = true;
            submitButton.innerHTML = '<i class="fa-solid fa-spinner spin-icon me-2"></i>Sending';

            // Submeter o formulário após a modificação
            submitButton.closest('form').submit();
        });
    });
</script>