@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="messageDisplay-container">
    <h1 class="messageDisplay-title">Unexpected Error</h1>
    <p class="messageDisplay-message" style="margin-bottom: -0.5rem">Something went wrong, emergency landing!</p>
</div>
