@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mb-4 view-text">
    <h2 style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">@ViewData["Title"]</h2>
    <hr />

    <div class="text-light">
        At <span style="font-weight: bolder">FitnessHub - Global Network</span>, we respect your privacy and are committed to protecting your personal data.<br />
        This policy outlines how we collect, use, and protect your information when you use our services for managing your gym memberships, classes, fitness activities, and more.<br /><br />

        <h5>Data Collection and Use</h5>
        We collect personal data, such as your name, contact information, health preferences, and payment details, to provide our services.<br />
        This data is used to manage memberships, schedule classes, process payments, and enhance your gym experience.<br /><br />

        <h5>Legal Compliance</h5>
        FitnessHub complies with the <a target="_blank" href="https://gdpr-info.eu/">General Data Protection Regulation (GDPR)</a> and other applicable data protection laws.<br />
        Your data is processed based on legitimate business interests, legal obligations, or your consent, as required.<br /><br />

        <h5>Data Sharing</h5>
        We may share your data with third-party service providers essential to processing payments, booking classes, or maintaining our gym services.<br /> We do not sell your personal information.<br /><br />

        <h5>Data Security</h5>
        We implement appropriate security measures to protect your personal information.<br /> However, please note that no system is entirely secure.<br /><br />

        <span style="font-weight: bolder">By using our services, you agree to this Privacy Policy.</span>
    </div>

</div>